// 设置标准
:root { 
  --font--color: #22202E; // 暗龙胆紫
  --module--color: #f0a1a8; // 合欢红
  --font-size: 16px;
  --font-family: "Consolas", sans-serif , serif , SimHei; //serif
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
  body {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    
  }
  
}

::-webkit-scrollbar {
  width: 6px;
  //display: none; // 类似只对google & Safari 起作用
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--module--color);
}

  html {
    font-family: "Consolas", serif , SimHei;
    overflow-y: scroll; //这是为了兼容ie8，不支持:root, vw
  }

.content {
  display: flex;
  flex-direction: row; // 左侧开始
  flex-wrap: wrap; // 向下换行
  justify-content: center; // 主轴左对齐
  align-items: flex-start; // 交叉轴居中对齐
  position: relative;
  margin-top: 30px;
  
  .md {
    @media screen and (min-width: 992px){
      width: 80%;
  }
  @media screen and (max-width: 991px){
      width: 95%;
  }
        

    // 设置 img 大小 S M L 
    img.s {
        width: 15%;
        height: 15%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #22202E;
      font-family: var(--font-family);
      font-weight: 700;
      line-height: 1; // 行高？
      margin: 0 0 2% 0;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
      color: var(--font--color);
      text-decoration: none;
      border-bottom: 0;
    }

    h1 {
      font-size: 40px;
      margin: 0 0 0.5em 0;
      line-height: 1.3;
      text-align: center;
    }

    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
      
    }

    h3 {
      font-size: 26px;
      line-height: 1.1;
      
    }

    h4 {
      font-size: 22px;
      
    }

    h5 {
      font-size: 20px;
      
    }

    h6 {
      font-size: 16px;
      text-indent: 32px;
    }

    ol {
      list-style: decimal; // 设置 li 序号样式
      margin: 0 0 5px 15px;
      padding-left: 1.25em;
  
      li {
        padding-left: 5px;
      }
    }
  
    ul {
      list-style: disc;
      margin: 0 0 5px 15px;
      padding-left: 1.25em;
      
      li {
        padding-left: 5px;
      }

    }
  
    dl {
      margin: 0 0 5px 10px;
      
      dt {
        display: block;
        font-weight: 600;
        margin: 0 0 5px 0;
      }
  
      dd {
        margin-left: 15px;
      }
    }

    

    a {
      -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
      transition: color 0.3s ease-in-out, border-bottom-color 0.2s ease-in-out;
      border-bottom: dotted 1px;
      color: var(--module--color);
      text-decoration: none;
    }

    a:hover {
      border-bottom-color: var(--module--color);
      color: var(--module--color) !important;
    }

    a:hover strong {
      color: var(--module--color);
    }

    strong,
    b {
      color: var(--module--color);
      font-weight: 700;
    }

    // em,
    // i {
    //   font-style: italic;
    //   color: var(--module--color);
    // }

    p {
      margin: 0 0 2% 0;
    }

    

    sub {
      font-size: 0.8em;
      position: relative;
      top: 0.5em;
      color: var(--module--color);
    }

    sup {
      font-size: 0.8em;
      position: relative;
      top: -0.5em;
      color: var(--module--color);
    }

    blockquote {
      border-left: solid 3px rgba(210, 215, 217, 0.75);
      font-style: italic;
      margin: 0 0 2em 0;
      padding: 0.5em 0 0.5em 2em;
    }

    // code {
    //   background: rgba(230, 235, 237, 0.25);
    //   border-radius: 10px;
    //   border: solid 1px rgba(210, 215, 217, 0.75);
    //   font-family: var(--font-size);
    //   font-size: 14px;
    //   margin: 10px 5px;
    //   padding: 10px 10px;
    // }

    // pre {
    //   -webkit-overflow-scrolling: touch;
    //   font-family: var(--font-size);
    //   font-size: 14px;
    //   margin: 0 0 5px 0;
    //   background-color: #f0a1a8;
    // }

    // pre code {
    //   display: block;
    //   line-height: 1.75;
    //   padding: 10px 15px;
    //   overflow-x: auto;
    // }

    hr {
      border: 0;
      box-shadow: rgba(199, 147, 152, 0.123) 0px 2px 4px 0px, rgba(238, 156, 163, 0.32) 0px 2px 16px 0px;
      border-bottom: solid 1px #f0a1a81a;
      margin: 16px 0;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    // .table-wrapper {
    //   -webkit-overflow-scrolling: touch;
    //   overflow-x: auto;
    // }

    table {
      border-collapse: collapse;
      margin: 0 0 10px 0;
      width: 100%;

      tbody {
        
        tr {
          // border: solid 1px #c1b2a346;
          // border-left: 0;
          // border-right: 0;
          

          &:nth-child(2n + 1) {
            background-color: #c1b2a328;
          }
        }
      }

      td {
        padding: 0.75em 0.75em;
      }

      th {
        color: var(--module--color);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 700;
        padding: 0.75em 0.75em;
        text-align: left;
        
      }

      thead {
        border-bottom: solid 2px var(--module--color);
        border-top: solid 2px var(--module--color);
      }

      tfoot {
        border-top: solid 2px var(--module--color);
      }

      &.alt {
        border-collapse: separate;

        tbody {
          tr {
            td {
              border: solid 1px var(--module--color);
              border-left-width: 0;
              border-top-width: 0;

              &:first-child {
                border-left-width: 1px;
              }
            }

            &:first-child {
              td {
                border-top-width: 1px;
              }
            }
          }
        }

        thead {
          border-bottom: 0;
        }

        tfoot {
          border-top: 0;
        }
      }
    }

  }
}