pre {
    color: #ee2746;
	background: none;
	font-family: Consolas, '楷体';
	font-size: 1em;
	font-weight: 500;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.2;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

    padding: 0px 0px 5px 15px;
	margin: .5em 0;
	overflow: auto;
}